[Desktop Entry]
Name=ChartCaddy
Exec=webapp-container --app-id="chartcaddywebapp.nontrivial" --store-session-cookies --webappUrlPatterns=https://www.chartcaddy.com/* $@ https://www.chartcaddy.com/app.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
